<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="manifest" href="/assets/img/site.webmanifest">
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/img/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<style>
  /* --- spacing & component fixes --- */
  .page__content h1 {
    font-size: 1.563em;
    margin-top: 2em;
    margin-bottom: 0.75em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f2f3f3;
  }
  .page__content h1:first-child { margin-top: 0.5em; }
  .page__content h2 { margin-top: 1.75em; }
  .feature__wrapper { margin-bottom: 0.5em; border-bottom: none; }
  @media (min-width: 37.5em) {
    .feature__wrapper .feature__item { width: calc(50% - 1em); }
  }
  .feature__item .archive__item-teaser img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: top;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
  }
</style>

<!-- end custom head snippets -->
